@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
body {
    line-height: 1.6;
}

h1 {
    font-size: clamp(0.5rem, 0.2rem + 10vw, 2.5rem);
    text-align: center;
    margin: 20px 0px;
    color: #202030;
}
form {
    justify-content: center;
    display: flex;
    margin: 20px 0px;
}
form input {
    width: 40%;
    height: 2.5em;
    padding: 1em;
    border: 2px solid #dc143c;
    border-radius:5px 0px 0px 5px;
    color: #241d1e;
}
form button {
    width: 10%;
    background: #dc143c;
    color: #fff;
    margin-left: -5px;
    border-radius: 0px 5px 5px 0px;
    border: none;
}
.search-results {
    display: flex;
    flex-wrap: wrap;
    max-width: 94%;
    margin: auto;
    justify-content: space-between;
}
.search-result {
    width: 30%;
    margin-top: 5em;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
}
.search-result img {
    height: 20em;
    object-fit: cover;
    width: 100%;
    transition: 0.2s ease-in-out;
}

.search-result a {
    text-decoration: none;
    color: #dc143c;
    padding: 10px;
    display: block;
    text-transform:  capitalize;
}

.search-result:hover img {
    opacity: 0.8;
}
.show-more {
    background: #dc143c;
    width: 10%;
    height: 3em;
    color: #fff;
    border-radius: 5px;
    border: none;
    display: none;
    text-align: center;
    cursor: pointer;
    margin: auto;
    margin-top: 10em;
    margin-bottom: 7em;

}

@media screen and (max-width: 750px) {
    .search-result {
        width: 45%;
    }
    .show-more {
        width: 20%;
    }
}
@media screen and (max-width: 520px) {
    form input {
        width: 60%;
    }
    form button {
        width: 20%;
    }
}
@media screen and (max-width: 478px) {
    .search-result{
        width: 100%;
    }
    .show-more {
        width: 30%;
    }
}